:root {
  --white: hsl(0, 0%, 100%);
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --font: "Karla", sans-serif;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5rem;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: var(--light-gray);
  font-family: var(--font);
  font-weight: 400;
  min-height: 100vh;
  min-width: 100vw;
  width: min-content;
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
}

.card {
  background-color: var(--card-background);
  margin: 1rem;
  height: 745px;
  width: 322px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1,
h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
}

h1 {
  color: var(--cyan);
}

h2 {
  color: var(--white);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--light-gray);
}

li {
  font-size: 0.85rem;
  line-height: 1.25rem;
}

p,
.price span {
  color: var(--white);
  margin-bottom: 0;
}

.price {
  color: var(--light-gray);
  font-size: 0.85rem;
}

.price span {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 0.5rem;
  vertical-align: middle;
}

section:first-of-type {
  background-color: var(--white);
}

section:first-of-type p {
  color: var(--grayish-blue);
}

section:first-of-type h2 {
  font-size: 1rem;
  color: var(--bright-yellow);
}

section {
  background-color: var(--cyan);
  padding: 1.5rem;
  flex-basis: 50%;
}

section:last-of-type {
  background-color: hsl(179, 45%, 50%);
}

button {
  background-color: var(--bright-yellow);
  color: var(--white);
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  height: 49px;
  width: 272px;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--grayish-blue);
}

.attribution a {
  font-size: 11px;
  color: var(--cyan);
}

@media (min-width: 450px) {
  .card {
    flex-direction: row;
    flex-wrap: wrap;
    height: 475px;
    width: 635px;
  }

  h1 {
    font-size: 22px;
  }

  section {
    padding: 2.5rem;
  }

  section:first-of-type {
    flex-basis: 100%;
  }

  button {
    height: 48px;
    width: 237px;
  }
}
